<h1>Dashboard#index</h1>

<h2>Menu<h2>
<ul>
  <% if current_user.admin? %>
    <li><%= link_to 'Manage Brands', car_brands_path %></li>
    <li><%= link_to 'Manage Dealerships', dealerships_path %></li>
  <% end %>
  <li><%= link_to 'Manage Cars', cars_path %></li>
</ul>
